{require_otp_vsn,".*"}.
{erl_opts,[debug_info]}.
{eunit_compile_opts,[{i,"../include"}]}.
{post_hooks,[{compile,"sh build/compile_descriptor"}]}.
{xref_checks,[undefined_function_calls]}.
{clean_files,[".eunit","ebin/*.beam","include/gpb_version.hrl",
              "descr_src/gpb_descriptor.erl","descr_src/gpb_descriptor.hrl"]}.
{overrides,[]}.
